.box-1 {
    position: absolute;
    top: 20px;
    width: 130px;
    height: 130px;
    border: 1px solid black;
}

.box-2 {
    position: absolute;
    top: 20px;
    width: 130px;
    height: 130px;
    border: 1px solid black;
}